@font-face {
  font-family: 'Medium';
  src: local('SpecialElite'), url(./fonts/SpecialElite-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.App {
  text-align: center;
}

.login img {
  padding: 30% 0;
}

.login img:active {
  color: crim;
}

.character-sheet {
  color: black;
  font-family: "Medium";
}

.character-sheet .header {
  text-align: center;
}

.character-sheet img {
  margin: auto;
  display: block;
}