@font-face {
  font-family: 'Medium';
  src: local('SpecialElite'), url(./fonts/SpecialElite-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.App {
  text-align: center;
}

.login img {
  padding: 30% 0;
}

.login img:active {
  color: crim;
}

.character-sheet {
  color: black;
  font-family: "Medium";
}

.character-sheet .header {
  text-align: center;
}

.character-sheet img {
  margin: auto;
  display: block;
}

.characteristics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.characteristics > div {
  margin-bottom: .5em;
}

.item-pad {
  display: flex;
  align-items: center;
}


.item {
  flex-basis: 30%;
}

.border {
  height: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
}

/* STATS SECTION */

.stats-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}

.stats {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  align-content:stretch
}

.stats-item {
  flex-basis: content;
  height: 300px;
}

.image-row {
  height: 300px;
}